$blue: #274086;
$droid: 'Droid Sans', sans-serif;

html, body, main {
  background-color: #eee;
}

.App {
  text-align: center;
}

.App-header h2 {
  color: $blue;
  font-family: $droid;
  font-size: 40px;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

.green {color: green;}
.red {color: red;}

.section {
  clear: both;
  padding: 0;
  margin: 0;
  margin-top: 30px;
	&:before,
	&:after { content:""; display:table; clear:both; }
	zoom: 1; /* For IE 6/7 */
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  width: 49.2%;
  &:first-child { margin-left: 0; }
}

.box {
  font-family: $droid;
  border: 5px solid $blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.errorCCD {
  font-family: serif;
  font-style: italic;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
    width: 100%;
	}
}

